HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

# 데이터베이스 비번 등 민감한 정보 제외
src/main/resources/application.yml

ngrok.exe
src/main/resources/application.properties

app/.dart_tool/

src/main/resources/application-dev.properties
